<!DOCTYPE html>
<html>
  <head>
    <title>I do things</title>
    <link rel="stylesheet" href="../../style/screen.css" type="text/css"/>
  </head>
  <body>
    <script type="text/javascript"> 
      var padDigit = function(val) {
          return (val < 10 ? "0" : "") + val;
      }

      var timeWrite = function(date) 
      { 
         var d = new Date(date);
         document.write(padDigit(d.getHours()) + ":" + padDigit(d.getMinutes())); 
      } 

      var dateWrite = function(date)
      {
         var d = new Date(date);
         document.write(d.toDateString());
         document.title = d.toDateString();
      }
    </script>
    <h1>I did stuff - <script type="text/javascript">dateWrite({{ title }});</script></h1>
    <div id="content">
      <ul id="posts">
        {{#posts}}
          <li>
            <span id="time"><script type="text/javascript"> timeWrite({{ time }}); </script></span> - {{ text }}
          </li>
        {{/posts}}
      </ul>
    </div>
  </body>
</html>
